@model web.Models.ComputadorViewModel

@{
    ViewData["Title"] = "Adicionar Computador";
}

<h1>@ViewData["Title"]</h1>
<h4>Computador</h4>
<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MAC" class="control-label"></label>
                <input asp-for="MAC" class="form-control" />
                <span asp-validation-for="MAC" class="text-danger"></span>
            </div>
            <p class="text-muted"><small>* Todos os outros campos serão preenchidos automaticamente na primeira coleta de dados.</small></p>
            <div class="form-group">
                <input type="submit" value="Criar" class="btn btn-primary" />
                 <a asp-action="Index" class="btn btn-secondary">Voltar para a Lista</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}