@model Web.Models.ComputadorViewModel

@{
    ViewData["Title"] = "Adicionar Computador";
}

<h1>@ViewData["Title"]</h1>
<h4>Computador</h4>
<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="MAC" class="control-label"></label>
                        <input asp-for="MAC" class="form-control" />
                        <span asp-validation-for="MAC" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="IP" class="control-label"></label>
                        <input asp-for="IP" class="form-control" />
                        <span asp-validation-for="IP" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ColaboradorCPF" class="control-label"></label>
                        <select asp-for="ColaboradorCPF" class="form-control" asp-items="ViewBag.Colaboradores">
                             <option value="">-- Selecione um Colaborador --</option>
                        </select>
                        <span asp-validation-for="ColaboradorCPF" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Hostname" class="control-label"></label>
                        <input asp-for="Hostname" class="form-control" />
                        <span asp-validation-for="Hostname" class="text-danger"></span>
                    </div>
                     <div class="form-group">
                        <label asp-for="SO" class="control-label"></label>
                        <input asp-for="SO" class="form-control" />
                        <span asp-validation-for="SO" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Fabricante" class="control-label"></label>
                        <input asp-for="Fabricante" class="form-control" />
                        <span asp-validation-for="Fabricante" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Processador" class="control-label"></label>
                        <input asp-for="Processador" class="form-control" />
                        <span asp-validation-for="Processador" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ProcessadorFabricante" class="control-label"></label>
                        <input asp-for="ProcessadorFabricante" class="form-control" />
                        <span asp-validation-for="ProcessadorFabricante" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ProcessadorCore" class="control-label"></label>
                        <input asp-for="ProcessadorCore" class="form-control" />
                        <span asp-validation-for="ProcessadorCore" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ProcessadorThread" class="control-label"></label>
                        <input asp-for="ProcessadorThread" class="form-control" />
                        <span asp-validation-for="ProcessadorThread" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ProcessadorClock" class="control-label"></label>
                        <input asp-for="ProcessadorClock" class="form-control" />
                        <span asp-validation-for="ProcessadorClock" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                 <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Ram" class="control-label"></label>
                        <input asp-for="Ram" class="form-control" />
                        <span asp-validation-for="Ram" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="RamTipo" class="control-label"></label>
                        <input asp-for="RamTipo" class="form-control" />
                        <span asp-validation-for="RamTipo" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="RamVelocidade" class="control-label"></label>
                        <input asp-for="RamVelocidade" class="form-control" />
                        <span asp-validation-for="RamVelocidade" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="RamVoltagem" class="control-label"></label>
                        <input asp-for="RamVoltagem" class="form-control" />
                        <span asp-validation-for="RamVoltagem" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="RamPorModule" class="control-label"></label>
                        <input asp-for="RamPorModule" class="form-control" />
                        <span asp-validation-for="RamPorModule" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="ArmazenamentoC" class="control-label"></label>
                        <input asp-for="ArmazenamentoC" class="form-control" />
                        <span asp-validation-for="ArmazenamentoC" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ArmazenamentoCTotal" class="control-label"></label>
                        <input asp-for="ArmazenamentoCTotal" class="form-control" />
                        <span asp-validation-for="ArmazenamentoCTotal" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ArmazenamentoCLivre" class="control-label"></label>
                        <input asp-for="ArmazenamentoCLivre" class="form-control" />
                        <span asp-validation-for="ArmazenamentoCLivre" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ArmazenamentoD" class="control-label"></label>
                        <input asp-for="ArmazenamentoD" class="form-control" />
                        <span asp-validation-for="ArmazenamentoD" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ArmazenamentoDTotal" class="control-label"></label>
                        <input asp-for="ArmazenamentoDTotal" class="form-control" />
                        <span asp-validation-for="ArmazenamentoDTotal" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ArmazenamentoDLivre" class="control-label"></label>
                        <input asp-for="ArmazenamentoDLivre" class="form-control" />
                        <span asp-validation-for="ArmazenamentoDLivre" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Criar" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Voltar para a Lista</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}