@model Web.Models.UserViewModel

@{
    ViewData["Title"] = "Editar Usuário";
}

<h1>@ViewData["Title"]</h1>

<h4>Usuário</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Login" class="control-label"></label>
                <input asp-for="Login" class="form-control" />
                <span asp-validation-for="Login" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" placeholder="Deixe em branco para não alterar" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Role" class="control-label"></label>
                <select asp-for="Role" class="form-control">
                    <option value="Normal">Normal</option>
                    <option value="Coordenador">Coordenador</option>
                    <option value="Admin">Admin</option>
                    <option value="Diretoria">Diretoria/RH</option>
                </select>
                <span asp-validation-for="Role" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ColaboradorCPF" class="control-label"></label>
                <select asp-for="ColaboradorCPF" class="form-control searchable-select" asp-items="Model.Colaboradores">
                    <option value="">Selecione um Colaborador</option>
                </select>
                <span asp-validation-for="ColaboradorCPF" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar para a Lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
