@model Web.Models.Colaborador

@{
    ViewData["Title"] = "Editar Colaborador";
}

<h1>@ViewData["Title"]</h1>

<h4>Colaborador</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CPF" />

            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="dados-pessoais-tab" data-bs-toggle="tab" data-bs-target="#dados-pessoais" type="button" role="tab" aria-controls="dados-pessoais" aria-selected="true">Dados Pessoais</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="coordenador-tab" data-bs-toggle="tab" data-bs-target="#coordenador" type="button" role="tab" aria-controls="coordenador" aria-selected="false">Coordenador</button>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active p-3" id="dados-pessoais" role="tabpanel" aria-labelledby="dados-pessoais-tab">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="CPF" class="control-label"></label>
                                <input asp-for="CPF" class="form-control" readonly />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Nome" class="control-label"></label>
                                <input asp-for="Nome" class="form-control" />
                                <span asp-validation-for="Nome" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Email" class="control-label"></label>
                                <input asp-for="Email" class="form-control" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="SenhaEmail" class="control-label"></label>
                                <input asp-for="SenhaEmail" class="form-control" />
                                <span asp-validation-for="SenhaEmail" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Teams" class="control-label"></label>
                                <input asp-for="Teams" class="form-control" />
                                <span asp-validation-for="Teams" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="SenhaTeams" class="control-label"></label>
                                <input asp-for="SenhaTeams" class="form-control" />
                                <span asp-validation-for="SenhaTeams" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="EDespacho" class="control-label"></label>
                                <input asp-for="EDespacho" class="form-control" />
                                <span asp-validation-for="EDespacho" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="SenhaEDespacho" class="control-label"></label>
                                <input asp-for="SenhaEDespacho" class="form-control" />
                                <span asp-validation-for="SenhaEDespacho" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Genius" class="control-label"></label>
                                <input asp-for="Genius" class="form-control" />
                                <span asp-validation-for="Genius" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="SenhaGenius" class="control-label"></label>
                                <input asp-for="SenhaGenius" class="form-control" />
                                <span asp-validation-for="SenhaGenius" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Ibrooker" class="control-label"></label>
                                <input asp-for="Ibrooker" class="form-control" />
                                <span asp-validation-for="Ibrooker" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="SenhaIbrooker" class="control-label"></label>
                                <input asp-for="SenhaIbrooker" class="form-control" />
                                <span asp-validation-for="SenhaIbrooker" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Adicional" class="control-label"></label>
                                <input asp-for="Adicional" class="form-control" />
                                <span asp-validation-for="Adicional" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="SenhaAdicional" class="control-label"></label>
                                <input asp-for="SenhaAdicional" class="form-control" />
                                <span asp-validation-for="SenhaAdicional" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Filial" class="control-label"></label>
                                <input asp-for="Filial" class="form-control" />
                                <span asp-validation-for="Filial" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Setor" class="control-label"></label>
                                <input asp-for="Setor" class="form-control" />
                                <span asp-validation-for="Setor" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Smartphone" class="control-label">Smartphone</label>
                                <input asp-for="Smartphone" class="form-control" />
                                <span asp-validation-for="Smartphone" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="TelefoneFixo" class="control-label">Telefone Fixo</label>
                                <input asp-for="TelefoneFixo" class="form-control" />
                                <span asp-validation-for="TelefoneFixo" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Ramal" class="control-label"></label>
                                <input asp-for="Ramal" class="form-control" />
                                <span asp-validation-for="Ramal" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Alarme" class="control-label"></label>
                                <input asp-for="Alarme" class="form-control" />
                                <span asp-validation-for="Alarme" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Videoporteiro" class="control-label"></label>
                                <input asp-for="Videoporteiro" class="form-control" />
                                <span asp-validation-for="Videoporteiro" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Obs" class="control-label"></label>
                        <textarea asp-for="Obs" class="form-control"></textarea>
                        <span asp-validation-for="Obs" class="text-danger"></span>
                    </div>
                </div>
                <div class="tab-pane fade p-3" id="coordenador" role="tabpanel" aria-labelledby="coordenador-tab">
                    <div class="form-group">
                        <label asp-for="CoordenadorCPF" class="control-label"></label>
                        <select asp-for="CoordenadorCPF" class="form-control searchable-select" asp-items="ViewBag.Coordenadores">
                            <option value="">Nenhum</option>
                        </select>
                        <span asp-validation-for="CoordenadorCPF" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Salvar" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Voltar para a Lista</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
