<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/custom-style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Web.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" />
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/select2-bootstrap-5-theme@1.3.0/dist/select2-bootstrap-5-theme.min.css" />
    @RenderSection("Styles", required: false)
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Computadores" asp-action="Index">Inventário</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Dashboard"
                                asp-action="Index">Dashboard</a>
                        </li>
                        <!-- Inventário Dropdown -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdownInventario"
                                role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Inventário
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownInventario">
                                <li><a class="dropdown-item" asp-area="" asp-controller="Computadores"
                                        asp-action="Index">Computadores</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Monitores"
                                        asp-action="Index">Monitores</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Perifericos"
                                        asp-action="Index">Periféricos</a></li>
                                @if (User.IsInRole("Admin"))
                                {
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Redes"
                                            asp-action="Index">Ativos de Rede</a></li>
                                }
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdownOperacoes"
                                role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Operações
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownOperacoes">
                                @if (User.IsInRole("Admin") || User.IsInRole("Coordenador"))
                                {
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Manutencoes"
                                            asp-action="Index">Manutenções</a></li>
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Exportar"
                                            asp-action="Index">Exportar</a></li>
                                }
                                <li><a class="dropdown-item" asp-area="" asp-controller="Chamados"
                                        asp-action="Index">Chamados</a></li>
                            </ul>
                        </li>

                        <!-- Gerenciamento Dropdown -->
                        @if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdownGerenciamento"
                                    role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Gerenciamento
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownGerenciamento">
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Colaboradores"
                                            asp-action="Index">Colaboradores</a></li>
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Users"
                                            asp-action="Index">Usuários</a></li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Gerenciamento"
                                            asp-action="Index">Coleta de Dados</a></li>
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Monitoramento"
                                            asp-action="Index">Monitoramento de Rede</a></li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Gerenciamento"
                                            asp-action="Logs">Logs de Coleta</a></li>
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Gerenciamento"
                                            asp-action="PersistentLogs">Log Persistente</a></li>
                                </ul>
                            </li>
                        }
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - Por Lucas Cardoso Gomes
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/select2-initializer.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>